{% load static %}
<!DOCTYPE html>
<html>
    <title>Story 1</title>
    <head>
        <style>
            #title{
                font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                text-align: center;
                height: 90px;
            }
            #p1{
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                text-align: center;
                size: 30px;
            }
            #img1{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body : background="{% static 'pastel.jpg'%}">
        <h1 : id="title">     Halo, salam kenal!  
            <img src="{% static 'LogoUI.png' %}" alt="Universitas Indonesia" style="height: 80px;float: right;" >
        </h1>
        <img src="{% static 'UserPhoto.jpg' %}" alt="Foto Aji" style="text-align:center; width: 90px; height: 90px;" class="center": id="img1">
        <p : id="p1">Aji Inisti Udma Wijaya</p>
        <p : id="p1">1806141126</p>
        <p : id="p1">Angkatan 2018</p>
        <p : id="p1">Universitas Indonesia</p>      
        <p : id="p1">Hobi :<br>
            Bermain video game, makan (mencoba makanan baru) dan tidur.
        </p>  
        <p : id="p1">Deskripsi: <br>
            Saya lahir di Bogor, 12 Agustus 2000. Saya berkuliah di Universitas Indonesia, Fakultas Ilmu Komputer, Jurusan Ilmu Komputer.
            Saya senang untuk berkenalan dengan orang baru. 
            Saya senang untuk mempelajari hal baru. </p>
    </body>
</html>